<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the DITA Open Toolkit project.

Copyright 2016 Jarno Elovirta

See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.dita.pdf2.legacy">
  <feature extension="dita.xsl.xslfo" file="xsl/fo/topic2fo.xsl"/>
</plugin>
